
#blogs {
    background: url(../../section_images/banner\ \(3\).jpg);
    background-position: 'center';
    background-size: 'cover';
    background-repeat: 'no-repeat';
    background-attachment: fixed;
}
