#contact{
    background: url(../../section_images/banner\ \(5\).jpg);
    background-position: 'center';
    background-size: 'cover';
    background-repeat: 'no-repeat';
    object-fit: cover;
}
.overlySkill{
    padding: 100px 0px;
    background-color: rgba(0, 0, 0, 0.592);
}
.contact_left img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #f70776;
    object-fit: cover;
}
.contact_left p{
    color: #d1d1d1;
    font-family: 'Oxygen', sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin: 0;
    padding: 0;

}
.contact_left h4{
    padding-top: 10px;
    color: #d1d1d1;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.contact_area{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.form_area input,textarea{
    display: block;
    padding: 10px;
    color: #fff;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #d1d1d1;
    margin-bottom: 10px;
}
.form_area textarea{
    margin-bottom: 10px;
}
.contact_left{
    flex: 1;
}
.contact_right{
    flex: 1;
    color: #d1d1d1;
    font-family: 'Oxygen', sans-serif;
    font-weight: 500;
}
#submit{
    background-color: #680747;
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: 700;
    background-color: #d1d1d1;
    transition: all linear .4s;
}
#submit:hover{
    color: #000;
    background-color: #c3195d;
    border: 1px solid #c3195d;
}
/*responsive*/
@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991.98px) {
    .skill_text{
        grid-template-columns: repeat(3,1fr);
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .skill_text{
        grid-template-columns: repeat(2,1fr);
    }
  
}

@media (max-width: 575.98px) {
    .contact_area{
       flex-direction: column;
    }
    .contact_right{
        margin-top: 50px;
    }
}

/*responsive*/