.logo h3{
    font-family: 'Great Vibes', cursive;
    font-weight: 700;
    margin-left: 30px;
}
.nav_right .index{
    margin-left: 30px;
    color: #d1d1d1;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Great Vibes', cursive;
}
.nav_right .nav_icon{
    color: #d1d1d1;
}
