#projects {
    background: url(../../section_images/banner\ \(1\).jpg);
    background-position: 'center';
    background-size: 'cover';
    background-repeat: 'no-repeat';
    background-attachment: fixed;
    object-fit: cover;
}

.overly {
    padding: 100px 0px;
    background-color: rgba(0, 0, 0, 0.592);
}

.projects_img img {
    width: 100%;
    height: 400px;
    background-color: #f70776;
    border-radius: 15px;
    object-fit: cover;
}

.projects_img {
    position: relative;
    cursor: pointer;
}

.projects_img:hover .img_overly {
    height: 100%;
    opacity: 1;
    transition: all linear .5s;
}

.img_overly {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    height: 0%;
    width: 100%;
    opacity: 0;
}

.img_overly h2 {
    font-size: 25px;
    color: #d1d1d1;
}

.img_overly button {
    border: none;
    padding: 5px 20px;
    font-size: 18px;
    font-family: 'Oxygen', sans-serif;
    border-radius: 3px;
    font-weight: 700;
    transition: all linear .4s;
}

.img_overly button:hover {
    background-color: #f70776;
    color: #fff;
}

.projects_area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

/*responsive*/
@media (min-width: 992px) and (max-width: 1199px) {
    .projects_area {
        grid-template-columns: repeat(3, 1fr);
    }

    .projects_img img {
        margin: 0px auto;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .projects_area {
        grid-template-columns: repeat(3, 1fr);
    }

    .projects_img img {
        margin: 0px auto;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .projects_area {
        grid-template-columns: repeat(2, 1fr);
    }

    .projects_img img {
        margin: 0px auto;
        width: 90%;
        height: 500px;
    }
    
}

@media (max-width: 575.98px) {
    .projects_area {
        grid-template-columns: repeat(1, 1fr);
    }

    .projects_img img {
        margin: 0px auto;
    }
}

/*responsive*/